demo/test_2D_fit_data.py
demo/test_2D_fit.py
*.mat
*.csl
*.bib
*.yml
*.c
*.so
.ipynb_checkpoints/
.idea/
demo/exp_1_session_A_neuron_A_config_example_data.*
.ipynb_checkpoints
demo/example_data.npz
.ipynb_checkpoints
select_variables
GAM_library/.DS_Store
JP/
Ipshita/
preprocessing_pipeline/*
fitting/*
analyzing/*
.idea
analyzing/de*
.idea/*
*.zip
Akis/*
*.dill
*.pdf
*.jpg
*.png
__pycache__
.Rhistory
.DS_*
*.npy
*.npz
*_old.*
firefly_utils/*
TMP/
plotting
NatComm_reviews/*
build/*
*.egg-info
UMAP/
pgam_docker.sh